<?xml version="1.0" encoding="utf-8" ?>

<module name="core.Exception">
   <include path="t/Exception.h" />

   <type name="core.Exception" object="t::tEXCEPTION" parent="t::tOBJECT" />
   <type name="core.RuntimeException" object="t::tRUNTIME_EXCEPTION" parent="t::tEXCEPTION" />
   <type name="core.ClassNotFoundException" object="t::tCLASS_NOT_FOUND_EXCEPTION" parent="t::tEXCEPTION" />
   <type name="core.IndexOutOfRangeException" object="t::tINDEX_OUT_OF_RANGE_EXCEPTION" parent="t::tEXCEPTION" />

</module>
